button{
    color: black;
    border-radius: 25%;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  }
  
  button:hover{
    background-color: #d160a5;
    border-color:#8f89af;
  }
  